.count__wrapper {
    border: 3px solid deepskyblue;
    border-radius: 10px;
    min-width: 500px;
    margin: 10% auto 0 auto;
}

.count-num__box {
    max-width: 450px;
    background-color: #84e7fb;
    margin: 0 auto;
    border-radius: 10px;
}

.count-button__box {
    border: 3px solid deepskyblue;
    border-radius: 10px;
    max-width: 450px;
    margin: 30px auto;
    display: flex;
    justify-content: space-around;

}
.count-button__box__wrapper{
    display: flex;
}




