.count__wrapper {
    border: 3px solid deepskyblue;
    border-radius: 10px;
    max-width: 500px;
    margin: 10% auto 0 auto;
}

.count-num__box {
    max-width: 450px;
    background-color: #84e7fb;
    margin: 0 auto;
    border-radius: 10px;
}

.count-num__span {
    color: #2e333c;
    display: block;
    margin: 30px auto;
    padding: 40px 0;
}

.count-num__span p {
    text-align: center;
    font-size: 80px;
    font-weight: bold;
    padding: 10px 0;
    margin: 0;
}

.count-button__box {
    border: 3px solid deepskyblue;
    border-radius: 10px;
    max-width: 450px;
    margin: 30px auto;
    display: flex;
    justify-content: space-around;

}

.count-button {
    font-family: sans-serif;
    font-weight: bold;
    border: none;
    background-color: #84e7fb;
    border-radius: 10px;
    line-height: 2;
    font-size: 34px;
    margin: 20px;
    padding: 0 20px;

}

.count-button:focus {
    outline: none;
}

.count-button:active {
    background: #2e333c;
    color: #84e7fb;
}


.max-count {
    color: red;
}

.count-button:disabled {
    opacity: .5;
}

